/*===== RESET =====*/
* {
  margin: 0;
  padding: 0; }

html,
body {
  height: 100%; }

.bg-gray {
  background-color: #f5f5f5; }

.bg-white {
  background: #fefefe; }

.flexbox-center, .header, .btn-menu,
.btn-close, .menu-list, .project-image, .header-project-page {
  -ms-flex-align: center;
      -webkit-box-align: center;
          align-items: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
      -webkit-box-pack: center;
          justify-content: center; }

.section {
  height: auto;
  padding-bottom: 5%;
  width: 100%; }

.section h2 {
  font-size: 2em;
  padding-top: 5%; }

.section h3 {
  font-size: 1em;
  padding-top: 2.5%; }

.section h2,
.section h3 {
  color: #072B43;
  display: block;
  font-family: "Ubuntu", sans-serif;
  margin: 0 auto;
  width: 85%; }

.section h3 a {
  color: #072B43;
  text-decoration: none; }

.section h3 a:hover {
  text-decoration: underline; }

/*===== HEADER =====*/
.header {
  background: url(../img/header.jpg);
  background-size: cover;
  height: 480px;
  width: 100%; }

.header-title, .header-info h1, .header-info h2 {
  color: #fefefe;
  font-family: "Ubuntu", sans-serif;
  text-align: center; }

.header-info {
  height: auto;
  width: 85%; }

.header-info h1 {
  margin: 5% auto 2% auto;
  text-transform: uppercase; }

.header-info h2 {
  font-size: 1em;
  font-weight: 400; }

.header-info img {
  display: block;
  margin: 0 auto;
  width: 50%; }

.header-info i {
  color: #fefefe;
  display: block;
  font-size: 1.5em;
  margin: 5% 0;
  text-align: center; }

.header-blog {
  background: none;
}

.languages {
  position: absolute;
  height: auto;
  width: auto;
  top: 12.5px;
  right: 15px;
}

.languages a {
  background-color: #072B43;
  border-radius: 5px;
  color: #f5f5f5;
  display: inline-block;
  font-size: 0.8em;
  font-family: "Ubuntu", sans-serif;
  padding: 5px;
  text-decoration: none;
}

.languages a:hover {
  cursor: pointer;
}

.languages a.selected-language {
  background-color: #041926;
}

.bg-blog {
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.bg-blog:before {
      background: hsla(0,0%,7%,.8);
    content: "";
    position: absolute;
    top: -100%;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
}
/*===== MENU =====*/
.btn-menu,
.btn-close {
  cursor: pointer;
  height: 50px;
  position: absolute;
  top: 0;
  width: 50px; }

.btn-menu i,
.btn-close i {
  color: #fefefe;
  font-size: 1.5em; }

.btn-close {
  display: none;
  top: 50px; }

.opened {
  display: block; }

.closed {
  display: none; }

.menu {
  background-color: #0a0a0a;
  position: absolute;
  top: 0;
  width: 100%; }

.menu-list {
  height: 50px;
  max-width: 100%;
  margin: 0;
  width: 100%; }

.menu-list ul {
  list-style: none;
  width: 70%; }

.menu-list ul li {
  float: left;
  margin: 0 5% 0 0;
  text-align: center;
  width: 30%; }

.menu ul li:last-child {
  margin: 0; }

.menu-list ul li a {
  color: #fefefe;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  text-decoration: none;
  text-transform: lowercase; }

.menu ul li a:hover {
  color: #00ffff; }

/*===== PRESENTATION =====*/
.presentation,
.contact-text {
  display: block;
  margin: 0 auto;
  width: 85%; }

.presentation h1 {
  color: #072B43;
  font-family: "Ubuntu", sans-serif;
  font-size: 3em;
  font-weight: 400;
  margin: 5% auto;
  text-align: center; }

.presentation p,
.contact-text p {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  margin: 5% auto 5% auto;
  text-align: left; }

.presentation p a,
.contact-text p a {
  color: #072B43;
  font-weight: 700;
  text-decoration: none; }

.presentation p a:hover,
.contact-text p a:hover {
  text-decoration: underline; }

.presentation img,
.contact-text img {
  width: 100%; }

.contact-info i {
  color: #072B43;
  font-size: 1em;
  margin-right: 10px;
}

.contact-info a {
  background-color: #072B43;
  color: #f5f5f5;
  display: inline-block;
  font-family: "Ubuntu", sans-serif;
  margin: 0px 10px 15px 0px;
  padding: 10px 20px;
  text-decoration: none;
  width: auto;    
}

  .contact-info a i {
    color: #f5f5f5;
  }

  .contact-info a:hover {
    color: #00ffff;
    cursor: pointer;
  }

  .contact-info a:hover i {
    color: #00ffff;
  }

hr {
  background-color: #ccc;
  border: 0;
  clear: both;
  display: block;
  height: 1px;
  margin: 5% auto 0 auto;
  width: 85%; }

/*===== HABILITIES =====*/
.hability {
  background-color: #fefefe;
  border: 1px solid rgba(204, 204, 204, 0.5);
  display: block;
  margin: 5% auto 0 auto;
  width: 85%; }

.hability img {
  width: 100%; }

.hability h3 {
  color: #072B43;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.2em;
  margin: 5% auto;
  text-transform: uppercase; }

.hability p {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5em;
  margin: 0 auto;
  padding-bottom: 5%; }

.hability h3,
.hability p {
  display: block;
  text-align: center;
  width: 90%; }

.btn-hire {
  background-color: #072B43;
  display: block;
  margin: 5% auto;
  padding: 5% 0%;
  width: 85%; }

.btn-hire a {
  color: #fefefe;
  display: block;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  text-align: center;
  text-decoration: none; }

.btn-hire a:hover {
  color: #00ffff;
  cursor: pointer; }

/*===== PROJECTS =====*/
.project {
  display: block;
  margin: 0 auto;
  padding-bottom: 15%;
  width: 85%; }

.project:last-child {
  padding-bottom: 5%; }

.project p {
  font-family: "Open Sans", sans-serif;
  height: auto;
  margin: 4% auto; }

.project-buttons {
  -ms-flex-align: center;
      -webkit-box-align: center;
          align-items: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: start;
      -webkit-box-pack: start;
          justify-content: flex-start; }

.project-buttons a {
  border: 1px solid #072B43;
  color: #072B43;
  display: block;
  font-family: "Ubuntu", sans-serif;
  padding: 2% 2.5%;
  text-align: center;
  text-decoration: none;
  text-transform: lowercase;
  width: 42%; }

.project-buttons a:first-of-type {
  margin-right: 4%; }

.project-buttons a:hover {
  background-color: #072B43;
  color: #fefefe;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }

.project-header {
  -ms-flex-align: center;
      -webkit-box-align: center;
          align-items: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  margin: 2.5% auto;
  width: 100%; }

.project-header h3,
.post h3 {
  color: #072B43;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.4em;
  float: left;
  margin: 0; }

.project-header p {
  display: block;
  height: auto;
  margin: 0;
  position: absolute;
  right: 7.5%; }

.project-image {
  background-color: #072B43;
  height: 200px;
  overflow: hidden;
  width: 100%; }

.project-image img {
  min-height: 100%;
  min-width: auto;
  height: 100%;
  width: auto; }

/*===== BLOG =====*/
.post {
  background-color:#fefefe;
  border: 1px solid rgba(204, 204, 204, 0.5);
  clear: both;
  height: auto;
  margin: 0 auto 15px auto;
  width: 85%;
}

.post:first-of-type {
  margin-top: 2.5%;
}

.post:hover {
  border: 1px solid #072B43;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.post a {
  text-decoration: none;
}

.post h3 {
  float: none;
  padding: 10px 0 5px 15px;
  text-align: left;
  width: calc(100% - 30px);
}

.post h3:hover {
  text-decoration: underline;
}

.post-date p {
  color: rgba(0, 0, 0, 0.7);
  font-family: "Open Sans", sans-serif;
  font-size: 0.8em;
  height: auto;
  margin: 0;
  padding: 5px 0 10px 15px;
}

.post p {
  display: none;
}

.post-date p {
  display: block;
}

/*===== BLOG POST =====*/
.blog-post {
  margin: 0 auto;
  width: 85%;
}

.blog-post p {
  font-family: "Open Sans", sans-serif;
  height: auto;
  margin: 15px auto;
  text-align: left;
}

.blog-post img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.blog-post p:first-of-type {
  margin-top: 45px;
}

.blog-post a {
  color: #041926;
  font-weight: 700;
}

.blog-post a:hover {
  text-decoration: none;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

/*===== FOOTER =====*/
.footer {
  background: url(../../assets/img/footer.png);
  background-size: cover;
  color: #f5f5f5;
  font-family: "Ubuntu", sans-serif;
  height: auto;
  padding: 5% 0;
  text-align: center;
  width: 100%; }

.footer p,
.footer a {
  font-size: 1em;
  line-height: 1.6em;
  margin: 0 auto;
  width: 85%; }

.footer a {
  color: #fefefe;
  text-decoration: none;
}

.footer a:hover {
  color: #00ffff;
  cursor: pointer; }

.footer i {
  font-size: 1em;
  margin-right: 2%; }

.social-links {
  margin: 2% auto;
  width: 85%; }

.social-links a {
  color: #fefefe;
  width: 25%; }

.social-links a:hover {
  color: #00ffff; }

.social-links a i {
  font-size: 1.2em; }

/*===== PROJECTS PAGE =====*/
.header-project-page {
  height: 480px;
  overflow: hidden;
  width: 100%; }

.header-project-page img {
  height: 100%; }

.header-project-page .header-info {
  left: 7.5%;
  position: absolute;
  top: 22.5%; }

.project-article {
  display: block;
  margin: 0 auto;
  width: 85%; }

.project-article header h2 {
  width: 100%; }

.project-article header p {
  color: gray;
  font-family: "Ubuntu", sans-serif;
  margin: 2% 0; }

.project-article p {
  color: #0a0a0a;
  font-family: "Ubuntu", sans-serif;
  margin: 5% 0; }

.project-article img {
  width: 100%; }

/*===== MEDIA QUERIES =====*/
@media screen and (min-width: 360px) {
  .header,
  .header-project-page,
  .bg-blog {
    height: 540px; }

  .project-image img {
    height: auto;
    width: 100%; } }
@media screen and (min-width: 480px) {
  .header,
  .header-project-page,
  .bg-blog {
    height: 720px; } }
@media screen and (min-width: 750px) {
  .btn-close {
    top: 75px; }

  .btn-menu,
  .btn-close {
    height: 75px;
    width: 75px; }

  .btn-menu i,
  .btn-close i {
    font-size: 2em; }

  .menu-list {
    height: 75px; }

  .btn-hire {
    padding: 2.5% 0; } }
@media screen and (min-width: 992px) {
  .header,
  .header-project-page,
  .bg-blog {
    height: 736px; }

  .header-project-page img {
    width: 100%; }

  .header-info img {
    width: 15%; }

  .section h2,
  .section h3,
  .header-info,
  .presentation,
  .contact-text,
  hr,
  .footer p,
  .footer a,
  .social-links,
  .project-article,
  .btn-hire,
  .post {
    width: 75%; }

   .blog-post {
     width: 60%;
   }

  .header-project-page .header-info {
    left: 12.5%; }

  .presentation img {
    display: block;
    margin: 0 auto;
    width: 50%; }

  .hability {
    display: inline-block;
    width: 37.5%; }

  .hability:first-of-type {
    margin: 5% 2.5% 0 12.5%; }

  .project {
    display: inline-block;
    margin-right: 1%;
    margin-top: 5%;
    padding-bottom: 2.5%;
    width: 25%; }

  .project p {
    height: 85px; }

  .project:nth-child(2),
  .project:nth-child(5),
  .project:nth-child(8),
  .project:nth-child(11),
  .project:nth-child(14),
  .project:nth-child(17) {
    margin-left: 12.5%; }

  .project:last-of-type {
    margin-right: 0; }

  .project:last-child {
    padding-bottom: 0; }

  .project-header h3 {
    padding-top: 0;
    width: 70%; }

  .project-header p {
    height: auto;
    position: relative;
    right: 0;
    text-align: right;
    width: 30%; }

  .project-image img {
    width: auto;
    height: 100%; }

  .post h3 {
    padding: 15px 0 5px 15px;
  } 

  .post p {
    color: #0a0a0a;
    display: block;
    font-family: "Open Sans", sans-serif;
    height: auto;
    padding: 5px 0 5px 15px;
  }
  
  .post-date p {
    padding: 5px 0 10px 15px;
  }
  
  .blog-post p {
    font-size: 1.1em;
    line-height: 1.7em;
    margin: 30px auto;
  }}
@media screen and (min-width: 1200px) {
  .header,
  .header-project-page,
  .bg-blog {
    height: 700px; }

  .header-info h1 {
    font-size: 3em;
    margin: 2% 0 1% 0; }

  .header-info h2 {
    font-size: 1.4em; }

  .header-info i {
    font-size: 2em; }

  .btn-close {
    top: 60px; }

  .btn-menu,
  .btn-close {
    height: 60px;
    width: 60px; }

  .btn-menu i,
  .btn-close i {
    font-size: 2em; }

  .menu-list {
    height: 60px; }

  .menu-list ul {
    width: 25%; }

  .presentation img {
    float: left;
    margin: 10% 0;
    width: 30%; }

  .presentation h1 {
    float: right;
    font-size: 5em;
    margin-bottom: 2%;
    margin-top: 10%;
    padding-left: 5%;
    text-align: left;
    width: 65%; }

  .presentation p {
    float: right;
    margin: 0 auto 2% auto;
    width: 65%; }

  .presentation p:last-child {
    margin-bottom: 5%; }

  .contact-text p {
    margin: 0 auto 2% auto;
  }

    .contact-text p:first-child {
      margin-top: 2.5%;
    }

  .hability {
    margin-top: 2.5%;
    width: 35.5%; }

  .hability:first-of-type {
    margin-right: 3.75%;
    margin-top: 2.5%; }

  .btn-hire {
    margin: 5% auto 0 auto;
    padding: 1.5% 0;
    width: 15%; }

  .project {
    margin-right: 1.6%;
    margin-top: 2.5%;
    width: 23.75%; }

  .footer {
    padding: 2.5% 0; }

  .footer i {
    margin-right: 1%; }

  .social-links {
    margin: 0.5% auto; } }