/*===== SASS VARIABLES =====*/
/*===== RESET =====*/
* {
  margin: 0;
  padding: 0; }

html,
body {
  height: 100%; }

.flex, .main {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.main {
  background: -webkit-gradient(linear, left top, left bottom, from(#109BC1), to(#005B8E));
  background: -webkit-linear-gradient(#109BC1, #005B8E);
  background: -o-linear-gradient(#109BC1, #005B8E);
  background: linear-gradient(#109BC1, #005B8E);
  height: 100%;
  width: 100%; }
  .main img {
    display: block;
    margin: 0 auto;
    width: 65%; }

@media screen and (min-width: 768px) {
  .main img {
    width: 45%; } }
@media screen and (min-width: 1024px) {
  .main img {
    width: 30%; } }